<cfif not isDefined("application.devices")>
	<cfset application.devices = structNew()>
</cfif>
<cfoutput>
<html>
	<head>
	<title>Metapack TVs</title>
	</head>
	<body>Application Initialised</body>
</html>
</cfoutput>