<!DOCTYPE html>
<html>
<head>
	<title>TV Settings</title>
</head>
<cfoutput>

	<body>
		<div>
		<cfif isDefined("error")>
			<cfoutput>#error#</cfoutput>
		</cfif>
		</div>
		<table>
			<tr>
				<td>
					<b>key</b>
				</td>	
				<td>
					<b>name</b>
				</td>	
				<td>
					<b>location</b>
				</td>	
				<td>

				</td>	
			</tr>
			<cfloop list="#ListSort(StructKeyList(application.devices), "text", "ASC")#" index="key">
				<form action="update.cfm" method="post">
				<tr class="results">
					<td>#key#</td>
					<td>
						<input type="hidden" name="cfid" value="#key#"><input type="text" value="#application.devices[key].name#" name="device">
					</td>
					<td>
						<input value="#application.devices[key].location#" name="location">
					</td>
					<td>
						<input value="submit" type="submit">
					</td>
				</tr>
				</form>
			</cfloop>

		</table>
	
	</body>
</cfoutput>

<html>